@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #78c4e2;
}
h1{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 400%;
  color: #fff600;
}
p,.Output {
  font-family: 'Arial';
}
img{
  border-radius: 25px;
}
hr {
  border-color: #224563;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
